.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.auth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
