<section class="authentication">
  <div class="card w-50">
    <div class="card-content">
      <h3 class="has-text-centered">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-card">
        <div class="field w-80">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input
              class="input"
              type="email"
              id="email"
              formControlName="email"
            >
          </div>
        </div>

        <div class="field w-80">
          <label class="label" for="password">Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              id="password"
              formControlName="password"
            >
          </div>
        </div>

        <button class="button is-light is-outlined is-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</section>
