.authentication {
  padding: .75rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-self-start {
  align-items: flex-start;
}
